{% extends 'lesListesDeStages.html.twig' %}

{% block title %}Liste des stages{% endblock %}

{% block table %}
    
    {% for stage in formation.stage %}
        <tr>
            <th scope="row"> {{ stage.id }} </th>
            <td> <a href="{{ path('detailStage', {id:stage.id}) }}"> {{ stage.titre }} </a></td>
            <td>{{ stage.mission }}</td>
            <td>{{ stage.email }}</td> 
        </tr>
    {% endfor %}
{% endblock %}
