{% extends 'lesListesDEntreprises.html.twig' %}

{% block title %}Liste des entreprises{% endblock %}

{% block table %}
    {% for entreprise in entreprises %}
        <tr>
            <th scope="row"> {{ entreprise.id }} </th>
            <td> <a href="{{ path('detailEntreprise', {id:entreprise.id}) }}"> {{ entreprise.nom }} </a></td>
            <td>{{ entreprise.adresse }}</td>
            <td>{{ entreprise.activite }}</td>
            <td>{{ entreprise.siteWeb }}</td>
        </tr>
    {% endfor %}
{% endblock %}
